<div class="container">
    <div class="casefile-container">
        <div *ngIf="casefiles?.length > 0; else noData">
            <div class="filters">
                <div class="read-only">
                    <label>{{ "Casefile.CasefileListComponent.read-only" | translate }}</label>
                    <input type="checkbox" [(ngModel)]="readOnly" (ngModelChange)="onChangeReadOnly()" class="cm-toggle">
                </div>
                <select [(ngModel)]="selectedActiveFilterOption" (ngModelChange)="onChangeActiveFilter()">
                    <option *ngFor="let option of filterActiveOptions" [ngValue]="option.value">{{option.text | translate}}</option>
                </select>
                <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="searchCasefile()" placeholder="{{ 'Casefile.CasefileListComponent.search' | translate }}">
                <button (click)="addCasefile()">{{ "Casefile.CasefileListComponent.add-casefile" | translate }}</button>
                <button (click)="sort()">{{ "Casefile.CasefileListComponent.sort" | translate }}</button>
            </div>
            <div class="component-2 card px-5 py-5 mx-5" style="background-color: azure;  border-radius: 5%;">
                <div>
                    <h4 class="text-center mb-4">
                        {{ "Casefile.CasefileListComponent.casefiles" | translate }}
                    </h4>
                </div>
                <div class="col-12 d-flex">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-center">{{ "Casefile.CasefileListComponent.code" | translate }}</th>
                                    <th class="text-center">{{ "Casefile.CasefileListComponent.patient-first-name" | translate }}</th>
                                    <th class="text-center">{{ "Casefile.CasefileListComponent.patient-last-name" | translate }}</th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                    <th class="text-center"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="casfile-tr" *ngFor="let casefile of filteredCasefiles">
                                    <td class="text-center" (click)="selectCasefile(casefile.id)">{{casefile.caseCode}}</td>
                                    <td class="text-center" (click)="selectCasefile(casefile.id)">{{casefile.patient.firstName}}</td>
                                    <td class="text-center" (click)="selectCasefile(casefile.id)">{{casefile.patient.lastName}}</td>
                                    <td class="text-center"><input type="checkbox" [checked]="casefile.active" class="cm-toggle" (change)="activateCasefile(casefile)"></td>
                                    <td class="text-center"><button (click)="editCasefile(casefile.id)">{{ "Casefile.CasefileListComponent.edit" | translate }}</button></td>
                                    <td class="text-center"><button [disabled]="readOnly" (click)="deleteCasefile(casefile.id)">{{ "Casefile.CasefileListComponent.delete" | translate }}</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-1"></div>
                </div>
                <!-- <button [disabled]="page === 1" (click)="previousPage()">Previous page</button>
                <button (click)="nextPage()">Next page</button> -->

                <div class="active-casefiles">
                    {{ "Casefile.CasefileListComponent.active-casefiles" | translate}} : {{calculateNumberActiveCasefiles()}}
                </div>
            </div>
            
        </div>
        <ng-template #noData>
            <h3>{{ "Casefile.CasefileListComponent.no-casefiles" | translate }}</h3>
            <button (click)="addCasefile()">{{ "Casefile.CasefileListComponent.add-casefile" | translate }}</button>
        </ng-template>
    </div> 
</div>
