@import "~bootstrap/dist/css/bootstrap.css";
body {
    margin: 0;
}

.card {
    width: 70% !important;
    position: absolute;
}

.card.card-1 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    /* margin: 0 100px; */
    height: 127px;
}

.card.card-2 {
    background: linear-gradient(to top, rgb(48, 207, 208) 0%, rgb(51, 8, 103) 100%);
    color: white;
    background-size: cover;
    height: 127px;
}

h4 {
    color: black;
}

.casfile-tr {
    cursor: pointer;
}

.casfile-tr:hover {
    background-color: rgb(25, 88, 99);
    color: white;
}

table td {
    vertical-align: middle !important;
    text-align: center !important;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.container {
    display: flex;
    flex-direction: row;
    margin-left: 100px !important;
}

.casefile-container {
    display: flex;
    flex-direction: column;
}

button {
    border: 0;
    background: none;
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 50px;
    outline: none;
    color: gray;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.filters {
    width: 100%;
    border-radius: 5%;
    text-align: center;
    transition: 0.25s;
    margin-bottom: 100px;
    margin-left: 50px;
    display: flex;
    margin: 10px 10px 30px 30px;
}

.filters button {
    margin: auto 20px;
    width: 250px;
}

.filters input[type="text"],
.filters select {
    background: none;
    display: block;
    margin: auto 20px;
    
    text-align: center;
    border: 2px solid #3498db;
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s

}

.filters select {
    color: gray;
}

.filters input[type="text"]:focus,
.filters select:focus {
    width: 300px;
    border-color: rgb(25, 88, 99)
}

button:hover {
    background: rgb(25, 88, 99);
    color: white;
}

td button:hover {
    background: white;
    color: rgb(25, 88, 99);
}

.read-only {
    display: flex;
    flex-direction: row;
    margin: 10px auto 0px;
}

.read-only label {
    color: gray;
    margin-top: 10px;
    width: 70px;
}

.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}

.cm-toggle:after {
	content: '';
	width: 60px;
	height: 28px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}

.cm-toggle:before {
	content: '';
	width: 32px;
	height: 32px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.cm-toggle:checked:after {
	background: #16a085;
}

.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}

.active-casefiles {
    display: flex;
    margin-top: 20px;
    margin-left: 160px;
}




