<div class="container">
    <div class="col-md-6">
        <form class="box" [formGroup]="updateCasefileForm" (ngSubmit)="updateCasefile(updateCasefileForm.value)">
            <h1>{{ "Casefile.UpdateCasefileComponent.edit-casefile" | translate }}</h1>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.code" | translate }}</label>
                <input [readonly]="true" type="text" formControlName="caseCode">
            </div>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.description" | translate }}</label>
                <textarea placeholder="{{ 'Casefile.AddCasefileComponent.description' | translate }}"
                    formControlName="description" rows="5"></textarea>
            </div>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.first-name" | translate }}</label>
                <input type="text" formControlName="firstName">
            </div>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.last-name" | translate }}</label>
                <input type="text" formControlName="lastName">
            </div>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.gender" | translate }}</label>
                <select type="select" formControlName="gender">
                    <option value="Male" selected="true">{{ "Casefile.UpdateCasefileComponent.male" | translate }}
                    </option>
                    <option value="Female">{{ "Casefile.UpdateCasefileComponent.female" | translate }}</option>
                </select>
            </div>
            <div>
                <label>{{ "Casefile.UpdateCasefileComponent.birthdate" | translate }}</label>
                <input type="date" formControlName="birthdate">
            </div>
            <input type="submit" value="{{ 'Casefile.AddCasefileComponent.submit' | translate }}">
        </form>
    </div>
</div>