<div class="container">
    <div class="col-md-6">
        <form class="box" [formGroup]="addCasefileForm" (ngSubmit)="addCasefile(addCasefileForm.value)">
            <h1>{{ "Casefile.AddCasefileComponent.add-casefile" | translate }}</h1>
            <input type="text" placeholder="{{ 'Casefile.AddCasefileComponent.code' | translate }} (XXXX-XXXX)"
                formControlName="caseCode">
            <textarea placeholder="{{ 'Casefile.AddCasefileComponent.description' | translate }}"
                formControlName="description" rows="5"></textarea>
            <input type="text" placeholder="{{ 'Casefile.AddCasefileComponent.first-name' | translate }}"
                formControlName="firstName">
            <input type="text" placeholder="{{ 'Casefile.AddCasefileComponent.last-name' | translate }}"
                formControlName="lastName">
            <select type="select" formControlName="gender">
                <option value="Male">{{ "Casefile.AddCasefileComponent.male" | translate }}</option>
                <option value="Female">{{ "Casefile.AddCasefileComponent.female" | translate }}</option>
            </select>
            <input type="date" formControlName="birthdate">
            <input type="submit" value="{{ 'Casefile.AddCasefileComponent.submit' | translate }}">
        </form>
    </div>
</div>