<div class="flag-container">
    <span class="flag-icon flag-icon-gb" (click)="onChangeLanguage('en')"></span>
  
    <span class="flag-icon flag-icon-ro" (click)="onChangeLanguage('ro')"></span>
</div>

<router-outlet></router-outlet>