/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.custom-sneak-bar {
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 85%;
    left: 40%;
}

.mat-simple-snackbar {
  justify-content: center !important;
}