<div class="container">
    <div class="col-md-6">
        <div class="box">
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.code" | translate }}: </label>
                <div> {{casefile?.caseCode}} </div>
            </div>
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.description" | translate }}: </label>
                <div> {{casefile?.description}} </div>
            </div>
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.first-name" | translate }}: </label>
                <div> {{casefile?.patient.firstName}} </div>
            </div>
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.first-name" | translate }}: </label>
                <div> {{casefile?.patient.lastName}} </div>
            </div>
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.gender" | translate }}: </label>
                <div> {{ getGenderTranslated(casefile?.patient.gender) | translate }} </div>
            </div>
            <div>
                <label>{{ "Casefile.CasefileDetailsComponent.birthdate" | translate }}: </label>
                <div> {{casefile?.patient.birthdate}} </div>
            </div>
        </div>
    </div>
</div>