@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to right, #b92b27, #1565c0)
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #191919;
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box div {
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 10px 10px;
    outline: none;
    color: white;
    display: flex;
}


.box label {
    color: white;
    margin-top: 30px;
    width: 200px;
    text-align: left;
}